
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1581540067724'); /* IE9 */
  src: url('iconfont.eot?t=1581540067724#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALgAAsAAAAABpAAAAKUAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBHIFIATYCJAMICwYABCAFhG0HLhvsBRHVk0dkXxTYzcQZuKIdioYZ97/xPNTVT3WQ50HwPNp9f26SeZu1/a3aaHr3cAej/PXABhx4mT4NwG9tin6jIhRLIjv9tKwmPyFcSLeWdYMLolTzkBOYNeMD4H+OmS5aB5J/pXPJCowE2hvYdEDVl0HHJ3IHcug3jN1E4BAehgA+JJCHtB36xrAYwDYBZINfvRSbC2EwVtYieGrOGuQ0DlYdUXeBU/z35Q8lYkHhaEDd0Kr2FTR9vwTz9G63cxRBGATtsgNoIA8wIGO1qQE0YpE1PilDCuyrWuD7331qQfZqRKx/Haj0AyBOFd2TGEtutVIBYOR0FTAzai6opKjfsfCL2P0McPse6z27n5KOPifteWEYu12QNApUZ+opernsSdK5AQ8vt7RgHhzcVFC/ueMfUJMwV8wNDMxVbErYgfhMPzCQHUvYtKPmG6LbjQsNreMZG2rby3fOzOwsb6/dkDHe2rDw/GFITtStWlV3ItAEgDt9Ruf+0b/hFvUHLQbmv/U1ALwO+77wgDtDPw/Y87oF/p+454AJpcCsjC+u9SiqRm1VgA8+gAvdF8L7sbrwm80JlvBb9ngRn4LGkoY02Dxw8KUMPFgawYdcOi/7Eso2NGK8gRwOKCAEcQEUAVwDTRD3kAb7Dhwi+AcegkSDDxPiDX3JkLVmiGCveIfhA37kmZBVjag+oX2kXrJSTrmhrD4KVV4Ws0ecUeY4sD5trUpAwhMclMdhSgyLcMBRc6e6NEVBdV+UjzxlBgv2incYPuBHnolOVlP6+RPaR+qlpWXAe0NZ/exQ5WUP5FE192q5l8+sT1urEpDwBAdlFabEsNSvCjhq7kYklqaAo6ivKl9fM31AodUB0CuBzRpuZJ6zDA==') format('woff2'),
  url('iconfont.woff?t=1581540067724') format('woff'),
  url('iconfont.ttf?t=1581540067724') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1581540067724#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-flickr:before { content: "\e654"; }

.icon-tag:before { content: "\e6fd"; }

.icon-linkedin:before { content: "\e698"; }

.icon-mail:before { content: "\e759"; }

.icon-search:before { content: "\e627"; }

.icon-mail01:before { content: "\e642"; }

.icon-wechat:before { content: "\e68b"; }

.icon-facebook:before { content: "\e601"; }

.icon-twitter:before { content: "\eb2a"; }

.icon-love:before { content: "\e745"; }

.icon-github:before { content: "\e712"; }

.icon-pinterest:before { content: "\e7bf"; }

.icon-up:before { content: "\e750"; }

.icon-left:before { content: "\e60a"; }

.icon-folder:before { content: "\e638"; }

.icon-close:before { content: "\e6d5"; }

.icon-dribbble:before { content: "\e696"; }

.icon-instagram:before { content: "\e6b6"; }

.icon-tumblr:before { content: "\e61f"; }

.icon-telegram:before { content: "\e731"; }

.icon-xihuan:before { content: "\e86f"; }

.icon-xihuan1:before { content: "\e870"; }

.icon-moon:before {
  content: "\e6bb";
}

.icon-right:before { content: "\e6dd"; }

.icon-medium-circle-fill:before { content: "\e887"; }

